# App Configuration
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# SQLite
# By default, the app uses 'app.sqlite' in the root folder.

# Auth
JWT_ACCESS_SECRET=your_super_secret_access_key_change_me
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_me
